.app-header {
  height: 60px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.2); 
  background-image: 
    url('../../../../assets/images/Rectangle14.png'),
    url('../../../../assets/images/Rectangle13.png');
  background-position: right 32px, 101% -3px;
  background-size: 223px 39px, 157px 86px;
  background-repeat: no-repeat, no-repeat;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-size: cover;
    opacity: 0.2;
  }

  .page-title {
    font-size: 18px;
    font-weight: 500;
    color: #000000;
  }

  .actions {
   .notification-icon {
    height: 20px;
    width: 25px;
    object-fit: contain;
    cursor: pointer;
   }

    .avatar-wrapper {
      .avatar {
        width: 36px;
        height: 36px;
        object-fit: cover;
        border: 2px solid #fff;
      }
    }
  }
}
