<div class="login-container d-flex flex-column">
  <div class="logo text-center py-4">
    <img src="assets/images/logo.png" alt="Logo" class="img-fluid" />
  </div>
  <div class="login-card">
    <div class="text-center mb-3">
      <h1 class="welcome-title">WELCOME BACK</h1>
      <p class="runtime-text">Please login to your account</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)" class="login-form">

      <div class="input-group mb-3">
        <span class="input-icon"><i class="bi bi-person"></i></span>
        <input type="text" formControlName="username" class="form-control" placeholder="USERNAME">
      </div>
      <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid" class="text-danger mb-2">
        <small>Username is required</small>
      </div>

      <div class="input-group mb-3">
        <span class="input-icon"><i class="bi bi-lock"></i></span>
        <input type="password" formControlName="password" class="form-control" placeholder="PASSWORD">
      </div>
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger mb-2">
        <small>Password is required</small>
      </div>

      <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="rememberMe">
          <label class="form-check-label" for="rememberMe">Remember Me</label>
        </div>
        <a class="forgot-password">Forgot password?</a>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-login w-50">
        LOGIN
      </button>
    </form>

    <div class="signup-link text-center mt-3">
      Don't have an account? <a class="signup-text"> Sign up.</a>
    </div>
  </div>
</div>