.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4fdff;
}

.login-card {
  background: white;
  padding: 40px 30px;
  width: 420px;
  text-align: center;
  border-radius: 20px;
  border-top: #AF3A6E solid 1px;
  border-right: #AF3A6E solid 1px;
  border-left: #AF3A6E solid 1px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.welcome-title {
  font-weight: bold;
  font-size: 24px;
}

.runtime-text {
  color: gray;
  font-size: 14px;
}

.input-group {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: gray;
}

.form-control {
  padding-left: 35px;
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #333;
}

.btn-login {
  background-color: #0d8cc2;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.forgot-password {
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.signup-text {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
.logo {
    background-color: #f8f9fa;
    img {
      width: 70px;
      height: 112px;
      max-height: 90px;
    }
  }