<div class="user-table-card p-4 rounded shadow-sm bg-white">
  <h3 class="mb-3">User Table</h3>
  <hr />

  <div class="d-flex mb-3">
    <input type="text" class="form-control" name="search" [(ngModel)]="searchText" placeholder="Search first name here"
      class="form-control" />
  </div>
  <div *ngIf="users && !isLoading" class="table-responsive">
    <table class="table align-middle mb-0">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>First name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Email Id</th>
          <th>Phone Number</th>
          <th>Birth date</th>
          <th>Image</th>
          <th>Edit</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users | filter:searchText; let i = index;">
          <td>{{ i + 1 }}</td>
          <td>{{ u.firstName }}</td>
          <td>{{ u.lastName }}</td>
          <td>{{ u.gender }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.phone }}</td>
          <td>{{ u.birthDate | date:'dd/MM/yyyy' }}</td>
          <td>
            <div class="user-image-wrapper">
              <img class="user-image" [src]="u.image" [alt]="u.firstName" />
            </div>
          </td>
          <td>
            <button class="btn btn-sm btn-warning rounded-5">Edit</button>
          </td>
          <td>
            <a class="text-decoration-none">View Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="isLoading && !users" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>
