.dashboard-welcome-card {
  position: relative;
  background-color: #E0F5FF;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 28px 37px;
  border-radius: 20px;

  .setting-icon{
    position: absolute;
    height: 35px;
    width : 35px;
    top: 3rem;
    right: 3rem;
    font-size: 1.25rem;
    cursor: pointer;
  }

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  .info-rows {
    .info-col {
      .label {
        display: block;
        font-weight: 400;
        font-size: 16px;
        opacity: 0.8;
        margin-bottom: 0.25rem;
      }
      .value {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  .avatar-wrapper {
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;

    .avatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.inner-div{
  padding: 20px;
  border-radius: 20px;
  background: #1985B5;
  background-image:
    url('../../../../assets/images/Vector1.png');
  background-position: 990px 6px;
  background-size: 148px auto;
  background-repeat: no-repeat;
}
.user-name{
  font-weight: 100;
}
