<div class="dashboard-welcome-card   shadow-sm mb-4">
  <div class="setting-gear">
    <img class="setting-icon" src="assets/images/white-settings.png" alt="setting">
  </div>

  <div *ngIf="profile && !isLoading" class="row align-items-center inner-div">
    <div class="col-md-8">
      <h2 class="mb-4">WELCOME, <span class="user-name">{{ (profile.firstName + ' ' + profile.lastName) | uppercase }}
          !</span></h2>

      <div class="row info-rows">
        <div class="col-6 info-col mb-3">
          <small class="label">Test Team</small>
          <div class="value">{{ profile.teamName }}</div>
        </div>
        <div class="col-6 info-col mb-3">
          <small class="label">E-mail</small>
          <div class="value">{{ profile.email }}</div>
        </div>
        <div class="col-6 info-col">
          <small class="label">Sales Person</small>
          <div class="value">{{ profile.salesPerson }}</div>
        </div>
        <div class="col-6 info-col">
          <small class="label">Contact Number</small>
          <div class="value">{{ profile.contactNumber }}</div>
        </div>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div class="avatar-wrapper mx-auto">
        <img [src]="profile.avatarUrl" alt="User Avatar" class="avatar" />
      </div>
    </div>
  </div>
  <div *ngIf="isLoading && !profile" class="text-center">
    <div class="spinner-border text-white" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>